* {
 
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}
body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
  
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
  }
.logo {
    height: 8%;
}
.custom-h2 {
  font-weight: bolder;
  font-family:  sans-serif;
  font-size: 35px;
  color: #2C86D2; /* Couleur bleue pour le texte */
  padding: 0px; /* Marge intérieure pour créer l'espace pour la bordure */
  -webkit-text-stroke: 2px white; /* Bordure blanche pour navigateurs Webkit */
  text-shadow:  -5px 4px 2px  rgba(0, 0, 0, 0.4);
  margin-top: 10px;
}
  /* Arrondir l'icône */
  link[rel="icon"] {
    border-radius: 50%;
  }
ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

a {
    color: #2C86D2;
}

.underline-animation {
    position: relative;
    display: inline-block;
  }
  
  .underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2C86D2; /* Couleur du trait */
    visibility: hidden;
    transform: scaleX(0); /* Commence avec une largeur nulle */
    transition: all 0.3s ease-in-out; /* Animation de transition */
  }
  
  .underline-animation:hover::after {
    visibility: visible;
    transform: scaleX(1); /* Étend le trait à la largeur complète */
  }
  /*
.carousel-item {
    border-top-left-radius: 100px;
    width: 100%;
}*/
.element .rond {
  border-radius: 100%;
}
.element img {
   /* Limite la hauteur maximale de l'image */
  object-fit: cover;
  float: left; /* Pour aligner l'image à gauche */
  margin-right: 5px; /* Espace entre l'image et le texte  */
}
.element h3 {
  clear: left; /* Pour placer le texte en bas de l'image */
}

.col {
  flex: 1 0 100%;
  text-align: center;
}
.tail {
  width: 100%;
}
.photo{
  padding: 20px;
}
.boxe {
    border: 1px solid rgb(212, 208, 208);
    justify-content: auto;
    justify-items: auto;
    position: relative;
    padding: 10px;
    margin-inline:10px;
    margin-top: 40px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 0px #2C86D2;
    border-radius: 7px;
    background-color:white;
    top: 0;
    transition: top ease 0.5s;
    color: #000000; 
    transition: 0.3s box-shadow ease-in-out;
    overflow:auto;
}
.boxe:hover{
    top: -7px;
    transition: 1s;
    box-shadow: 0px 3px 10px #2C86D2;
}

    .boxe3 {
    border: 1px solid rgb(212, 208, 208);
    justify-content: auto;
    justify-items: auto;
    position: relative;
    padding: 10px;
    margin-inline:10px;
    margin-top: 40px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 0px #2C86D2;
    border-radius: 7px;
    background-color:white;
    top: 0;
    transition: top ease 0.5s;
    color: #000000; 
    /*box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);*/
    transition: 0.3s box-shadow ease-in-out;
    overflow: hidden;
}
.boxe3:hover{
    top: -7px;
    transition: 1s;
    box-shadow: 0px 3px 10px #2C86D2;
}
.boxe img {
    width: 100%;
    height: auto;
    margin-right: 10px;
  }

.boxe2{
   border-left:3px hidden rgb(212, 208, 208); 
    justify-content: auto;
    justify-items: auto;
    position: relative;
    margin: 15px;
    padding: 10px;
}
.milieu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

[class*="apparut-"] {
    opacity: 0;
    transform: translateY(-30);
    transition: opacity 1s;
  }
  
  .apparut-visible {
    opacity: 1;
    transform: translateY(0);
  
    transition: opacity 0.5s ease-in-out; 
  }
  .apparut-1{
    transition-delay: .3s;
  }
  .apparut-2{
    transition-delay: .4s;
  }
  .apparut-3{
    transition-delay: .5s;
  }
  .btn-shadow{
    box-shadow: 1px 2px black;
  }
p {
    padding: 2%;
}
hr {
    background-color: white;
}
.icone {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
.menu {
    padding-right: 15px;
    padding-top: 10px;
}
.logor {
    position: relative;
    padding-left: 25px;
}

.menu,
.logor {
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #2C86D2;
    overflow-x: hidden;
    transition: 0.5s;
}
.blue-text {
  color: #2C86D2 !important ;
}
.blue-text i {
  margin-right: 5px;
}
.space i{
  margin-right: 5px;
}
.sidenav ul {
    display: flex;
    flex-direction: column;
}
.sidenav li {
    border-bottom: 1px solid #F7F1F1;
    padding: 3%;
}
.annule {
    border-bottom: none;
}

.sidenav li a {
    color: white;
    text-decoration: none;
    font-size: large;
}

.col {
    margin-top:  18px;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 3px;
    border-radius: 4px;
    resize: vertical;
}

button[type="submit"] {
    background-color:#2C86D2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #2C86D2;
}

.even {
    justify-content: space-evenly;
}
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    border-radius: 50%;
    z-index: 999;
    display: none;
    cursor: pointer;
  }
  
  #back-to-top:hover {
    background-color: #555;
  }
  
  .rejoins{
    margin-bottom: 10px;
     margin-left: -25px;
  } 


.forme {
    width: 50%;
    height: 350px;
    border-radius: 50%;
    border-bottom: 10px solid #2C86D2;
    overflow: hidden;
}

.forme2 {
    width: 50%;
    height: 350px;
}

.surgeryA {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-right: 5px;
    background-size:  100% 100%;
    
}

.contact {
    background-image: url("../images/app1.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 200px;
    margin-top: 50px;

}

.child {
    background-color: #F7F1F1;
    opacity: 0.8;
    width: 300px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #000000;
}

.formulaire {
    width: 30%;
}


.repertoire{
    width:20%;
}

.closeli {
    position: absolute;
    top: 0;
    right: 1px;
    font-size: x-large;

}  

.footers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color:#111111;
  color: white; 
  }
  .footer-section {
    width: 33%;
    margin-bottom: 10px;
    padding: 15px;
    
  }
  .footer-section p {
    flex: 1;
  }

  .footer-section-title {
    display: flex;
    align-items: center;
  }
  footer a {
    color: white; /* Changez ici la couleur souhaitée */
    text-decoration: none; /* Pour enlever le soulignement des liens */
}
  
  .vertical-line {
    width: 5px;
    height: 30px;
    background-color:#2C86D2;
    margin-right: 10px;
  }
  
  .contact-icons {
    display: flex;
    align-items:start;
    flex-direction: column;
  }
  
  .contact-icon  .icon-square{
    flex-shrink: 0;
  }
  .contact-icon {
    position: relative;
    display: flex; /* Utilisation de flexbox */
    align-items: center; /* Alignement vertical des éléments */
    margin-bottom: 15px; /* Espacement entre les icônes de contact */
  }
  .contact-icon::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #2C86D2;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }
  
  .contact-icon:hover::before {
    transform: scaleX(1);
  }
  
  .contact-icon p {
    margin: 0;
    margin-left: 10px; 
    white-space: nowrap;
    /* Espacement entre l'icône et le titre */
  }
  .icon-square {
    position: relative;
    display: flex;
    width: 50px;
    height: 50px;
    border: 2px solid #2C86D2;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .icon-square::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #2C86D2;
    transition: width 0.3s ease;
    z-index: -1;
  } 
  .social-icons {
    display: flex;
    align-items: center;
    font-size: 0px;
    justify-content: center;
  }
  
  .social-icons i {
    margin-right: 20px;
  }
  
  .footer-bottom {
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: center;
    width: 100%;
    
  }

  .resolve {
    display: flex; 
    flex-direction: row;
    align-items: center;
    margin-top: 30px; 
   margin-bottom: 45px;
  }

  /* code importer*/
  .cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .child-size{
    font-size: 25px; 
    font-weight: bolder;
  }
 
@media only screen and (min-width:768px) {
  .card img {
    height: 11em;
  }
  .child {
    background-color: #F7F1F1;
    opacity: 0.8;
    width: 600px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #000000;
    
}
.child-size{
  font-size: 40px; 
  font-weight: bolder;
}
  
  .surgeryB {
    background-image: url("../images/surgeryA1.jpg");
    background-size: 100% 100%;
    width: 100%;
    height:800px;
    margin-top: 0;
}
.surgeryC {
  width: 100%;
  height:120vh;
  margin-top: 0;
  background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url("../images/accueil1.jpg");
  background-size: cover;
  background-position: center;
}

/*.surgeryB {
  width: 100%;
  height:120vh;
  margin-top: 0;
  background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.35)),url("../images/surgeryA1.jpg");
  background-size: cover;
  background-position: center;
}*/

.contente{
width: 100%;
position: absolute;
top: 50%;
transform: translateY(-50%);
text-align: center;
color: #fff
}

.contente .contont{
  font-size: 50px;
  color: #fff;
  margin-left: 100px;
  margin-right: 100px;

}
.button-style button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px; 
  border-radius: 25px;
  font-weight: bold;
  border: solid #2C86D2;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.button-style span {
  background: #2C86D2;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
.button-style button:hover span{
  width: 100%;
}
.button-style button:hover{
  border: none;
}
.gros{
  font-size: 40px;
  margin-top: 40px;
}
.custom-margin{
  margin-left: 120px;
}

.sommaire{
  font-size: 45px;
}
.li-position{
  display: flex;
  justify-content: first baseline;
}

.decou{
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

  #navbar {
    transition: top 0.9s;
}

#navbar.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000; 
    border-bottom:5px  solid;
    color: #2C86D2; 
    box-shadow: inset 0 -5px 5px -5px rgba(0, 0, 0, 0.3);
}

.nav-link.active {
  
  color: white !important; 
  
}
.nav-link {
  
  font-size: 12px;
  color: #2C86D2;
}


  .navbloc{
    margin-top:0; 
  }
  .fond{
    font-weight: bolder;
     font-size:35px;
  }
.carrousel-font{
  font-size: 18px;
}
.carrousel-font span {
  font-size: 27px;
}
  .custom-h2 {
    font-weight: bolder;
    font-family:  sans-serif;
    font-size: 50px;
    color: #2C86D2; /* Couleur bleue pour le texte */
    padding: 0px; /* Marge intérieure pour créer l'espace pour la bordure */
    -webkit-text-stroke: 3px white; /* Bordure blanche pour navigateurs Webkit */
    text-shadow:  -5px 4px 2px  rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    
  }

  .rege{
    margin: 50px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
    
  }
  .reg{
    margin: 50px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
    
  }
  
  .reg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: #2C86D2;
    transform: scaleY(0);
    transform-origin:top;
    transition: transform 1.6s ease-in-out;
  }
  
  .reg:hover::before {
    transform: scaleY(1);
  }
 /* .core {
    margin: 50px; 
    
     box-sizing: border-box; 
     display: flex;
      flex-direction: column;
       padding: 25px; 
       background-color: white;
       box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
       border-radius: 5px;
  }*/
  
  .forme2 {
    width: 100%;
    height: auto;
}
  .resolve {
    margin-top: 130px;
    margin-bottom: 100px;
  }
  .carousel-item active .element {
    display: flex;
    justify-content: center;
}

.enlarge-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s box-shadow ease-in-out;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  width: 550px;
  height: 55px;
  margin-bottom: 40px;
  
}
.enlarge-box span {
  font-size: 1.7em;

}
.enlarge-box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s box-shadow ease-in-out;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  width: 550px;
  height: 55px;
 
}
.condition-size{
  font-size: 25px;
  font-weight: bold;
}
.condition-sizes {
  width: 550px;
  height: 55px;
  font-size: 25px;
  font-weight: bold;
}
.ligne {
  border-style: solid;
  border-radius: 100px;
  color: #2C86D2; 

}
  .controle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
     
  }
  .rejoins{
    margin-bottom: 30px;
     margin-left: -250px;
  }
  .controle .boxe {
    width: 520px;
    margin: auto;
  
  
  }
  .controle .boxe img {
    height: 600px;
    width: 95%;
  }

  
  .box-3 {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

.place{
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  border-radius: 5px;
  margin: 50px;
  padding: 40px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  border-left: 4px solid #2C86D2;
}
.images {
  flex: 0 0 35%;
  margin-right: 5px;
  width: 50%;
  margin-bottom: 10px;
}
.places{
  flex: 1;
}
 .tail img {
    width: 45%;
    height:45%;
  }
  .title{
    font-size: 30px;
  }
  .title-place{
    font-size: 25px;
    margin: 18px;
    font-weight: bold;
  }
  .title-places{
    font-size: 25px;
    
    font-weight: bold;
  }
  .car img{
        height: 500px;
        width: 500px;
    }
   

  .element {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    background-color: rgb(215, 232, 248);
    border-top-left-radius: 100px;
    padding: 20px;
    
    min-width: 900px;
    min-height: 500px;
  }
  .element .rond {
    border-radius: 100%;
  }
  .element  img {
    max-width: 270px; 
    max-height: 270px;
    object-fit: cover;
    
    margin-right: 600px; 
  }
  
    .social-icons{
      margin-top: 100px;
    }
    .social-icons i {
      font-size: 30px;
    }
    .footer-section {
      width: 30%;
    }
    .custom {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      list-style: none;
      padding: 0;
  }

  .custom li {
      flex-basis: 25%; /* Pour afficher 3 colonnes lorsque l'écran est supérieur à 800px */
      margin: 15px;
      text-align:start;
      margin-left: 50px;
  }
  .contact {
    background-image: url("../images/app1.jpg");
    background-size: 100% 100%;
    width: 100%;
    height:800px;
    margin-top: 0;
}
.appart-1 {
  position: relative;
  text-align: center;
  margin: 20px; /* Ajustez les marges selon vos besoins */

}


/* Ajouter une animation à l'image */
.img-wrapper {
  animation: fadeIn 1s ease-out; /* Vous devez définir l'animation fadeIn dans votre CSS */
}


/* Ajouter une animation à l'image */
.img-wrapper {
  animation: fadeIn 1s ease-out; /* Vous devez définir l'animation fadeIn dans votre CSS */
}
.tail-qlq p {
  font-size: 55px;
}
.tail-qlq{
  margin: 0;
  padding: 0;
}
.decore{
  width: 300px;
  height: 50px;
  margin-top: 35px;
  margin-bottom: 15px;
}
.surgeryA{
  display: none;
}
.imgba{
  width: 100%; 
  margin: 0;
}
.cartext{
  font-size: 25px;
  font-weight: bold;
  width: 450px;
}


/*CSS carroussel*/

  
.gallery {
  width: 100%;
  
}

.gallery-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 500px;
  margin: 0 auto; 
  position: relative;
}

.gallery-item {
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  
  z-index: 0;
  border-radius: 5px;
  background-size: contain; 
}

.gallery-item-1 {
  left: 15px;
  opacity: 0;
  transform: translateX(-50%);
  width: 250px;
  height: 250px;

}

.gallery-item-2,
.gallery-item-4 {
  height: 300px;
  opacity: 0.5;
  width: 300px;
  z-index: 1;
}

.gallery-item-2 {
  left: 20%;
  transform: translateX(-50%);
}

.gallery-item-3 {
  box-shadow: -2px 5px 33px 6px rgba(0,0,0,0.35);
  height: 400px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  z-index: 2;
}

.gallery-item-4 {
  left: 80%;
  transform: translateX(-50%);
}

.gallery-item-5 {
  left: 100%;
  opacity: 0;
  transform: translateX(-50%);
  width: 250px;
  height: 250px;
  
}




.gallery-containere {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 500px;
  margin: 0 auto; 
  position: relative;
}

.gallery-iteme {
  height: 525px;
  
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  
  z-index: 0;
  border-radius: 5px;
  background-size: contain; 
}

.gallery-iteme-1 {
  left: 15%;
  opacity: 0.2;
  transform: translateX(-50%);
  height: 350px;
  z-index: 0;

}

.gallery-iteme-2,
.gallery-iteme-4 {
  height: 400px;
  opacity: 0.5;
  
  z-index: 1;
}

.gallery-iteme-2 {
  left: 30%;
  transform: translateX(-50%);
  height: 400px;
}

.gallery-iteme-3 {
  
  height:  500px;
  width: 257px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  
  z-index: 2;
}

.gallery-iteme-4 {
  left: 70%;
  transform: translateX(-50%);
  height: 400px;
  opacity: .5;
}

.gallery-iteme-5 {
  left: 85%;
  opacity: 0.2;
  transform: translateX(-50%);
  height: 350px;
  z-index: 0;
  
}





.footerImage {
  width: 50%;
  height: 50%;
}
.footerImag {
  width: 100%;
  height: 40%;
}

    
.typing-container {
  text-align: center;
}

.typing-text {
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  
}

#static-text {
  color: #000000; 
  font-size: 35px;
  font-weight: bold;
}

#changing-text {
  color: #2C86D2; /* Couleur pour la partie qui change */
  font-size: 35px;
  font-weight: bold;
}
.disparaitre .carousel-inner{
  display: none;
}

}


@media only screen and (max-width:769px) {

  .button-style{
    display: flex;
    justify-content: center;
  }
  .contont{
    color: #0D6EFD;
    font-weight: bold;
  }
.button-style button{
  width: 160px;
  padding: 10px 0;
  text-align: center;
  margin: 10px 10px; 
  border-radius: 25px;
  font-weight: bold;
  border: solid #2C86D2;
  background: transparent;
  color: #2C86D2;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.button-style span {
  background: #2C86D2;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
  
}
.button-style button:hover span{
  width: 100%;
}
.button-style button:hover{
  border: none;
  color: #fff;
}

 
  .carrousel-font span {
    font-size: 23px;
  }
  .gros{
    font-size: 25px;
    margin-top: 20px;
    font-weight: bolder;
  }
  .footerImag {
    width: 100%;
    height: 50%;
}
  .footerImage {
    width: 50%;
    height: 50%;
}
  .tail-qlq p {
    font-size: 25px;
    
  }
  .cartext{
    font-size: 20px;
    font-weight: bold;
    width: 370px; 
  }
  .imgba img{
    width: 100%;
   height: 300px;
    margin: 0;
  }
  .surgeryB{
    display: none;
  }
  .img-poste{
    width: 100%;
    
    height: auto;
  }
  .fond{
    font-size: 25px;
    font-weight: bolder;
  }
  .title{
    font-size: 20px;
    font-weight: bold;
  }

  .title-places{
    font-size: 20px;
    font-weight: bold;
  }
  .title-place{
    font-size: 20px;
    font-weight: bold;
  }
  .core {
    margin: 5px;
      box-sizing: border-box;
       display: flex;
    flex-direction: column; 
   padding: 15px;
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  }
  .carrousel-tail{
    width:100%;
  }
    .navigue {
        display: none;
    }
    .ligne {
      border-style: solid;
      border-radius: 100px;
      color: #2C86D2; 
      height: 80px;
  }

    .menu,
    .logor {
        display: block;
    }

    .rond {
        width: 150px;
        height: 150px;
    }
    .element{
      min-height: 450px;
      background-color: rgb(215, 232, 248);
       border-top-left-radius: 72px;
    }
    .footerImage {
        width: 100%;
    }

    .icone {
        margin-right: 10px;
    }

    .forme2,
    .forme {
        width: 100%;
    }

    .surgeryA {
        height: 250px;
        width: 100%;
        margin: 0;
      
    }

    .height {
        height: 400px;
    }

    .formulaire {
        width: 90%;
        
        font-weight: bold;
        
    }
    .repertoire{
      width:180px;
      height: 140px;
    }
    .enlarge-box {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5%;
      box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.8);
      transition: 0.3s box-shadow ease-in-out;
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: underline;
      width: 300px;
      height: 45px;
    }
    .enlarge-box1 {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #2C86D2;
      margin-top: 5%;
      border-radius: 25px;
      text-decoration: underline;
      width: 320px;
      height: 45px;
      margin-bottom:25px;
    }
    .custom {
      flex-direction: column; /* Afficher les éléments en colonne pour les écrans de moins de 800px */
      align-items: flex-start; /* Alignement à gauche pour les écrans de moins de 800px */
  }

  .custom li {
      flex-basis: 100%; /* Chaque élément prend 100% de la largeur du conteneur pour les écrans de moins de 800px */
  }
   
.haut {
    height: 300px;
}
.car{
    width: 100%;
     max-width: 365px;
}

.footer-section {
  flex-direction:row;
  width: 100%;
  justify-content: center;
}
.footer-section-title h3 {
  display: flex;
  flex-wrap:wrap-reverse
}
.contact{
  height: 250px;
  margin-top: 0;
}

  
.gallery {
  display: none;
  
}

.gallery-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 500px;
  margin: 0 auto; 
  position: relative;
}

.gallery-item {
  height: 300px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 300px;
  z-index: 0;
  border-radius: 5px;
  background-size: contain; 
}

.gallery-item-1 {

  opacity: 0;
  transform: translateX(-50%);
  

}

.gallery-item-2,
.gallery-item-4 {
  
  opacity: 0;
  
  z-index: 1;
}

.gallery-item-2 {

  transform: translateX(-50%);
}

.gallery-item-3 {
  
    height: 350px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
  z-index: 2;
}

.gallery-item-4 {

  transform: translateX(-50%);
}

.gallery-item-5 {
  
  opacity: 0;
  transform: translateX(-50%);

}


.typing-container {
  text-align: center;
}

.typing-text {
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  
}

#static-text {
  color: #000000; 
  font-size: 20px;
  font-weight: bold;
}

#changing-text {
  color: #2C86D2; /* Couleur pour la partie qui change */
  font-size: 20px;
  font-weight: bold;
}

}
